.data-header {
    padding-top: 5px;
    padding-left: 49px;
    padding-right: calc(1% + 20px);
    background-color: var(--ion-color-panel);
    position: fixed;
    width: 100%;
    z-index: 110;

    display: flex;
}

.text-wrasp {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-list {
    margin-top: 40px;
}

:host ::ng-deep {
    .sub-row {
        display: flex;
        flex-wrap: wrap;
        ion-label {
            flex: 1;
        }
    }
    
    .fixed-label {
        min-width: 20.1% !important;
        max-width: 20.1% !important;
        text-align: center;
    }
    
    .fixed-label-header {
        min-width: 20.3% !important;
        max-width: 20.3% !important;
        text-align: center;
    }
    
    @media(max-width: 1700px) {
        .fixed-label {
            min-width: 19.9% !important;
            max-width: 19.9% !important;
            text-align: center;
        }
    }
    
    @media(max-width: 992px) {
        .fixed-label {
            min-width: 19.5% !important;
            max-width: 19.5% !important;
            text-align: center;
        }
    }
    
    @media(max-width: 576px) {
        .fixed-label {
            min-width: 19.1% !important;
            max-width: 19.1% !important;
            text-align: center;
        }
    }
}

