<ion-header appHeaderTheme>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Notification Setting</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="orange" (click)="resetNoti()">
          Reset Notification
        </ion-button>

        <!-- <ion-row>
          <ion-col class="ion-text-center">
            <ion-button color="secondary" (click)="save()">Save Setting</ion-button>
          </ion-col>
        </ion-row> -->
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
