
ion-button.toggle-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

ion-col {
    text-align: center;
}

ion-button.save-btn {
    margin-top: 50px;
    margin-bottom: 100px;
}

.title {
    .ios & {
        position: relative;
    }
}