ion-content {
  --padding-bottom: 100px;
}

.data-header {
  padding-top: 5px;
  padding-left: calc(10px + var(--padding-start) + var(--ion-safe-area-left, 0px));
  padding-right: calc(10px + var(--padding-end) + var(--ion-safe-area-right, 0px));
  background-color: var(--ion-color-panel);
  position: fixed;
  width: 100%;
  z-index: 110;

  display: flex;
  
  --padding-start: 16px;
  --padding-end: 16px;
  
  @media (max-width: 768px) {
      --padding-start: 10px;
  }
  @media (max-width: 577px) {
      --padding-start: 0px;
  }

  ion-col {
      padding-left: 0;
      padding-right: 0;
      .ios & {
          padding-right: 8px;
      }
  }

  .date-col {
      min-width: 110px;
      .ios & {
          min-width: 118px;
      }
  }
  
}

.main-label {
  ion-col {
      position: static;
  }
  ion-text {
      position: absolute;
      margin-left: 10px;
  }
}

.double-line {
    max-height: 2.4em;
    line-height: 1.2em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.expand {
  height: 57px;
}

:host ::ng-deep {
  ion-item {
      --min-height: 69.33px;
      ion-badge {
          margin-top: 5px;
      }

      @media (max-width: 992px) {
          --min-height: 143.33px;
      }
  }
}