.item-button-group {
    display: block;
    position: absolute;
    right: 5px;

    ion-button {
        display: block;
    }
}

ion-item {
    @media (max-width: 768px) {
        --padding-start: 10px;
    }
    @media (max-width: 577px) {
        --padding-start: 0;
    }
}