ion-content {
    --padding-bottom: 30px;
}

.loading-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-grid.main {
    height: 100%; /* calc(100% - 115px); */
    min-height: 250px;

    ion-row.main-row {
        height: 100%;
        ion-col.main-col {
            display: flex;
            flex-flow: column;

            height: 100%;
        }
    }
}

.table-wrapper {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;

    width: calc(100% - var(--ion-safe-area-left, 0px) - var(--ion-safe-area-right, 0px));
    height: 100%;
    max-height: calc(100% - 30px);

    margin-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
    margin-right: calc(var(--padding-end) + var(--ion-safe-area-right, 0px));
}

table.mat-mdc-table {
    min-width: 450px;
    width: 100%;

    .mat-mdc-header-cell {
        background-color: var(--ion-color-light);
        border-bottom: 1px solid;
    }

    tr {
        &:nth-child(even) {
            td {
                background-color: #e7f8ff;
                @media (prefers-color-scheme: dark) {
                    background-color: #101f24;
                }
                .dark & {
                    background-color: #101f24;
                }
            }
        }
        &:nth-child(odd) {
            td {
                background-color: #ffffff;
                @media (prefers-color-scheme: dark) {
                    background-color: #000000;
                }
                .dark & {
                    background-color: #000000;
                }
            }
        }

        td.exceed-limit {
            background-color: rgba(var(--ion-color-danger-rgb), 0.35);
            @media (prefers-color-scheme: dark) {
                background-color: rgba(var(--ion-color-danger-rgb), 0.23);
            }
            .dark & {
                background-color: rgba(var(--ion-color-danger-rgb), 0.23);
            }

            ion-item {
                --ripple-color: var(--ion-color-danger);
                --color: var(--ion-color-danger);
                --color-activated: var(--ion-color-danger);
            }
        }

        td {
            padding-right: 0;
            & ion-item {
                --background: auto;
            }
        }

        td.mat-column-name {
            z-index: 20 !important;
        }
    }

    .mat-column-name {
        min-width: 110px;
        max-width: 110px;
    }
}

.chart-wrapper {
    width: calc(100% - var(--ion-safe-area-left, 0px) - var(--ion-safe-area-right, 0px));
    height: 100%;
    min-height: 400px;

    margin-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
    margin-right: calc(var(--padding-end) + var(--ion-safe-area-right, 0px));
    margin-bottom: 150px;

    @media (prefers-color-scheme: dark) {
        background: var(--chart-color-bg-darker);
    }
    .dark & {
        background: var(--chart-color-bg-darker);
    }
}

.no-record {
    ion-text {
        color: rgba(var(--ion-color-medium-rgb), 0.3);
        font-size: 20px;
        font-weight: bold;
    }

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.no-record-middle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 700;
    
    flex-grow : 1;
}

.no-record-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 700;
}

ion-row.header-panel {
    height: unset !important;
    min-height: 40px;
    justify-content: center;

    padding-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
    padding-right: calc(var(--padding-end) + var(--ion-safe-area-right, 0px));
    
    // position: -webkit-sticky;
    // position: -moz-sticky;
    // position: -ms-sticky;
    // position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 300;

    background-color: var(--ion-color-panel);

    ion-col {
        align-self: center;
    }

    .select-date {
        border: 2px solid rgba(var(--ion-color-dark-rgb), 0.25);
        max-width: 122px;
        border-radius: 10px;

        ion-label {
            margin-left: 5px;
        }

        cursor: pointer;
    }
}
:host ::ng-deep {
    app-segment-tabs {
        display: block;
        position: sticky;
        top: 59px;
        z-index: 200;

        .ios & {
            top: 54px;
        }
    }
    
}

.excel-btn-col {
    position: absolute;
    margin-left: auto;
    text-align: end;

    ion-button {
        color: #13932e;
    }

    z-index: 0;
}

.filter-box {
    ion-item {
        --inner-padding-end: 0;
        --padding-start: 0;
        --background: rgba(var(--ion-color-medium-rgb), 0.05);
        ion-select {
            padding-left: 10px;
            width: calc(100% - 10px);
        }
    }
}

.search-btn {
    z-index: 999;
    @media (max-width: 576px) {
        position: absolute;
    }
}

.custom-col {
    ion-label {
        margin-left: 5px;
    }
    padding-left: calc(10px + var(--ion-safe-area-left, 0px));
}

.multi-value {
    font-size: smaller;
}