.trv-content {
    .trv-document-map,
    .trv-pages-area {
        background-color: var(--ion-background-color, #fff);
    }
    
    .trv-document-map {
        width: 0px !important;
    }
    
    .trv-pages-area {
        width: 100% !important;
        height: 100% !important;
    }

    .trv-page-wrapper {
        @media (max-width: 576px) {
            margin: 0px !important;
        }
    }

    width: 100% !important;
    height: 100% !important;
}
.trv-side-menu {
    background-color: var(--ion-background-color, #fff);
}

.k-widget.k-tooltip-validation {
    background-color: #fdca53 !important;
    border-color: #ebad1e !important;
    color: var(--ion-color-warning-contrast);

    @media (prefers-color-scheme: dark) {
        background-color: #ebad1e !important;
        border-color: #cf950e !important;
    }
    .dark & {
        background-color: #ebad1e !important;
        border-color: #cf950e !important;
    }

    .trv-error-message {
        font-family: var(--ion-font-family, inherit);
        font-weight: 600;
    }
    
}

.trv-menu-large,
.trv-menu-small
{
    @media (prefers-color-scheme: dark) {
        background-color: #2c4e5d;
        border-color: var(--ion-color-secondary-shade) !important;
    }
    .dark & {
        background-color: #2c4e5d;
        border-color: var(--ion-color-secondary-shade) !important;
    }
    
}

.k-panelbar {
    @media (prefers-color-scheme: dark) {
        background-color: #004765;
    }
    .dark & {
        background-color: #004765;
    }
}

.k-state-disabled, .k-state-disabled .k-link {
    @media (prefers-color-scheme: dark) {
        color: #7ba0afdb
    }
    .dark & {
        color: #7ba0afdb
    }
}

.trv-report-page {
    box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
}
