<ion-header>
  <ion-toolbar color="secondary">
    {{med.name}} : {{ items[0].entryTime | date: 'MMM dd, yyyy' }}
  </ion-toolbar>
</ion-header>
<ion-row>
  <ion-col>
    <ion-list>
      <ion-item button (click)="confirm(item)"  *ngFor="let item of items" >
        <ion-text color="medium" class="date">({{item.entryTime | date: 'hh:mm a'}})</ion-text>: 
        <ion-label>
          {{item.quantity}} 
          {{ (item.overrideDose ?? med.dose) ? " x " + (item.overrideDose ?? med.dose) : "" }} 
          {{ (item.overrideUnit??med.doseUnit) || "pcs" }}
          <span *ngIf="(item.overrideDose ?? med.dose)">(= {{ (item.overrideDose ?? med.dose)*item.quantity }} {{ (item.overrideUnit??med.doseUnit) || "pcs" }})</span>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>