.logo {
    height: 50vmax;
    width: 100vw;
    margin-top: 12vh;
}

#welcome-txt {
    font-size: xx-large;
}

#loading-txt {
    font-size: larger;
}

#credit-txt {
    font-size: larger;
    font-weight: bolder;
}