.control-grp {
    display: flex;
    align-items: center;
    justify-content: end;
    @media (max-width: 482px) {
        justify-content: center;
    }
}

.info-grp {
    ion-col {
        display: flex;
        align-items: center;
    }
}

.reload-btn {
    width: 25px;
    min-width: 25px;
    height: 25px;
    ion-icon {
        font-size: 19px;
        --ionicon-stroke-width: 60px;
    }

    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ion-grid.loading-grid {
    height: calc(100% - 80px);
    min-height: 300px;

    &>ion-row {
        height: 100%;
        &>ion-col {
            display: flex;
            flex-flow: column;

            height: 100%;
        }
    }

    .retry {
        cursor: pointer;
        ion-icon {
            --ionicon-stroke-width: 35px;
            font-size: 20px;
        }
    }
}

ion-col.extra-option {
    align-self: center;

    &.label {
        text-align: end;
    }
    
    ion-select {
        background-color: var(--ion-color-white);
    }
}

