.role-btn {
    font-size: 10px;
    --padding-end: 5px;
    --padding-start: 5px;
    height: 30px;

    vertical-align: middle;
}

.role {
    pointer-events: none;
    cursor: none;
    vertical-align: middle;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;

    
}